#container
{
  font-family: 'helvetica neue', serif;
  background-color: #f1e9a5;
  width: 50%;
  margin-left:400px;
  margin-top: 100px;
  padding: 50px;
}


#container label,input
{
  margin: 10px;
  font-size: 20px;
}